<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{url_for('static',filename='js/findpassword.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="c-div">
            <h2>비밀번호 변경하기</h2>
            <div class="info">비밀번호가 암호화 상태로 저장되어 비밀번호 바꾸기만 가능합니다</div>
            <div class="userinfo">
                <div class="user-info">
                    <label for="id">이메일(ID)</label>
                    <input type="text" name="id" id="id"><br>
                </div>
                <div class="user-info">
                    <label for="password">이름</label>
                    <input type="text" name="name" id="name"><br>             
                </div>

                <div class="buttons">
                    <input type="button" class="btn btn-primary" id="changePasswordBtn" value="비밀번호변경"></input>
                </div>

            </div>
        </div>

    </div>
<style>
    .container{
      /* border: 1px solid #000; */
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .c-div{
      border: 1px solid #4285F4;
      text-align: center;
      width: 50%;
      margin: auto;
      padding: 40px;
    }
    .info{
        color: #888;
        font-size: small;
    }
    .userinfo{
        padding: 20px;
    }
    .user-info{
        padding: 5px;
    }
    .buttons{
        padding-top: 20px;
    }
</style>

</body>
</html>